[user]
	name = pastak
	email = pasta0915@gmail.com
[core]
	editor = /usr/local/bin/vim
	excludesfile = ~/.gitignore_global
	ignorecase = false
[url "git@github.com:"]
    insteadOf = https://github.com/
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	grep = auto
[push]
	default = current
[alias]
	st = status
	co = checkout
	ci = commit -v
	di = diff
	br = branch
	puhs = push
	pish = push
	psuh = push
	pus = push
	puh = push
    open = browse
    amend = commit --date now --amend
	pl = !git pull && git submodule update --init
	show-ignored = ls-files --exclude-standard --others --ignored
	show-orphans = !git log --oneline --graph --decorate `git reflog | cut -c1-7`
    delete-merged = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
    see = !open `hub pr show -u`
    default-branch = !git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[merge]
	tool = vimdiff
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[ghq]
    root = ~/.ghq
[init]
	defaultBranch = master
[http]
	postBuffer = 524288000
